<mat-card>
  <mat-card-header>
    <mat-card-title>Profile</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        Name: {{profile?.firstName}} {{profile?.lastName}}
      </mat-list-item>
      <mat-list-item>
        <!-- add ? to make sure the data is available before rendering -->
        Email: {{profile?.email}} 
      </mat-list-item>
      <mat-list-item>
        ID: {{profile?.description}}
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>


